 html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins",Tahoma,Geneva,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}


/* Let's get this party started 
body {
  overflow: overlay;
}
/* Handle */
/* body::-webkit-scrollbar-thumb {
  border-radius: 15px;
 
  box-shadow: inset 0 0 1px 1px #5c6670;

  border: 9px solid transparent;
  box-shadow: inset 1px 1px 19px 16px;
  color: rgb(113 107 107 / 61%);
 
  background-clip: content-box;
 
  
}
body::-webkit-scrollbar {
  width: 25px;

}
body::-webkit-scrollbar-thumb:vertical:hover{
  display: block;
} */ 


/* 

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */