/* 
@media (min-width: 992px) {
    .slider,
    .slide {
      height: 100vh;
    }
  }
  
  .slide {
    position: relative;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slide .slide__img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  @media (min-width: 992px) {
    .slide .slide__img {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .slide .slide__img img {
    max-width: 100%;
    height: auto;
    opacity: 1 !important;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-transition: opacity 1s ease, transform 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition: opacity 1s ease, transform 1s cubic-bezier(0.7, 0, 0.3, 1);
  }
  .slider-track {
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }
  .zoomFadeOut {
    -webkit-animation-name: zoomFadeOut;
    animation-name: zoomFadeOut;
  }
  
  @keyframes zoomFadeOut {
    from {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
      -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    }
    to {
      -webkit-transform: scale3d(1.5, 1.5, 1.5);
      transform: scale3d(1.5, 1.5, 1.5);
      -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    }
  }
  .slide .slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .slide .slide__content.slide__content__left {
    left: 15%;
    -webkit-transform: translate(-15%, -50%);
    transform: translate(-15%, -50%);
  }
  .slide .slide__content.slide__content__right {
    right: 15%;
    left: auto;
    -webkit-transform: translate(5%, -50%);
    transform: translate(5%, -50%);
  }
  .slide .slide__content--headings {
    color: #fff;
  }
  .slide .slide__content--headings h2 {
    font-size: 4.5rem;
    margin: 10px 0;
  }
  .slide .slide__content--headings .animated {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .slide .slide__content--headings .top-title {
    font-family: 'Playball', cursive;
    font-size: 2.5rem;
  }
  .slide .slide__content--headings .title {
    font-size: 3.5rem;
  }
  .slide .slide__content--headings .button-custom {
    text-decoration: none;
    color: #333;
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
  }
  
  .slider [data-animation-in] {
    opacity: 0;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-transition: opacity 0.5s ease 0.3s;
    transition: opacity 0.5s ease 0.3s;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slick-dotted .slick-slider {
    margin-bottom: 30px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .slick-dots li button {
    border: 0;
    display: block;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus {
    outline: none;
  }
  
  .simple-dots .slick-dots li {
    width: 20px;
    height: 20px;
  }
  .simple-dots .slick-dots li button {
    border-radius: 50%;
    background-color: white;
    opacity: 0.25;
    width: 20px;
    height: 20px;
  }
  .simple-dots .slick-dots li button:hover,
  .simple-dots .slick-dots li button:focus {
    opacity: 1;
  }
  .simple-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75;
  }
  
  .stick-dots .slick-dots li {
    height: 3px;
    width: 50px;
  }
  .stick-dots .slick-dots li button {
    position: relative;
    background-color: white;
    opacity: 0.25;
    width: 50px;
    height: 3px;
    padding: 0;
  }
  .stick-dots .slick-dots li button:hover,
  .stick-dots .slick-dots li button:focus {
    opacity: 1;
  }
  .stick-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75;
  }
  .stick-dots .slick-dots li.slick-active button:hover,
  .stick-dots .slick-dots li.slick-active button:focus {
    opacity: 1;
  }
  
  /* /////////// IMAGE ZOOM /////////// */
/*  @-webkit-keyframes zoomInImage {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition: 1s;
      transition: 1s;
    }
    to {
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
      -webkit-transition: 1s;
      transition: 1s;
    }
  }
  @keyframes zoomInImage {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition: 1s;
      transition: 1s;
    }
    to {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
      -webkit-transition: 1s;
      transition: 1s;
    }
  }
  .zoomInImage {
    -webkit-animation-name: zoomInImage;
    animation-name: zoomInImage;
  }
  
  @-webkit-keyframes zoomOutImage {
    from {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
      -webkit-transition: 1s;
      transition: 1s;
    }
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition: 1s;
      transition: 1s;
    }
  }
  
  @keyframes zoomOutImage {
    from {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
      -webkit-transition: 1s;
      transition: 1s;
    }
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition: 1s;
      transition: 1s;
    }
  }
  .zoomOutImage {
    -webkit-animation-name: zoomOutImage;
    animation-name: zoomOutImage;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .slick-nav {
    --active: #fff;
    --border: rgba(255, 255, 255, 0.12);
    width: 44px;
    height: 44px;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 44px);
  }
  .slick-nav.prev-arrow {
    left: 3%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 999;
  }
  .slick-nav.next-arrow {
    left: auto;
    right: 3%;
  }
  .slick-nav i {
    display: block;
    position: absolute;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
  }
  .slick-nav i:before,
  .slick-nav i:after {
    content: '';
    width: 10px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: var(--active);
    margin: -1px 0 0 -5px;
    display: block;
    -webkit-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
  }
  .slick-nav i:before {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  .slick-nav i:after {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  .slick-nav:before,
  .slick-nav:after {
    content: '';
    display: block;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 50%;
    border: 2px solid var(--border);
  }
  .slick-nav svg {
    width: 44px;
    height: 44px;
    display: block;
    position: relative;
    z-index: 1;
    color: var(--active);
    stroke-width: 2px;
    stroke-dashoffset: 126;
    stroke-dasharray: 126 126 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .slick-nav.animate svg {
    -webkit-animation: stroke 1s ease forwards 0.3s;
    animation: stroke 1s ease forwards 0.3s;
  }
  .slick-nav.animate i {
    -webkit-animation: arrow 1.6s ease forwards;
    animation: arrow 1.6s ease forwards;
  }
  .slick-nav.animate i:before {
    -webkit-animation: arrowUp 1.6s ease forwards;
    animation: arrowUp 1.6s ease forwards;
  }
  .slick-nav.animate i:after {
    -webkit-animation: arrowDown 1.6s ease forwards;
    animation: arrowDown 1.6s ease forwards;
  }
  
  @-webkit-keyframes stroke {
    52% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      stroke-dashoffset: 0;
    }
    52.1% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      stroke-dashoffset: 0;
    }
    100% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      stroke-dashoffset: 126;
    }
  }
  
  @keyframes stroke {
    52% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      stroke-dashoffset: 0;
    }
    52.1% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      stroke-dashoffset: 0;
    }
    100% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      stroke-dashoffset: 126;
    }
  }
  @-webkit-keyframes arrow {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
    23% {
      -webkit-transform: translateX(17px);
      transform: translateX(17px);
      opacity: 1;
    }
    24%,
    80% {
      -webkit-transform: translateX(-22px);
      transform: translateX(-22px);
      opacity: 0;
    }
    81% {
      opacity: 1;
      -webkit-transform: translateX(-22px);
      transform: translateX(-22px);
    }
  }
  @keyframes arrow {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
    23% {
      -webkit-transform: translateX(17px);
      transform: translateX(17px);
      opacity: 1;
    }
    24%,
    80% {
      -webkit-transform: translateX(-22px);
      transform: translateX(-22px);
      opacity: 0;
    }
    81% {
      opacity: 1;
      -webkit-transform: translateX(-22px);
      transform: translateX(-22px);
    }
  }
  @-webkit-keyframes arrowUp {
    0%,
    100% {
      -webkit-transform: rotate(-40deg) scaleX(1);
      transform: rotate(-40deg) scaleX(1);
    }
    20%,
    80% {
      -webkit-transform: rotate(0deg) scaleX(0.1);
      transform: rotate(0deg) scaleX(0.1);
    }
  }
  @keyframes arrowUp {
    0%,
    100% {
      -webkit-transform: rotate(-40deg) scaleX(1);
      transform: rotate(-40deg) scaleX(1);
    }
    20%,
    80% {
      -webkit-transform: rotate(0deg) scaleX(0.1);
      transform: rotate(0deg) scaleX(0.1);
    }
  }
  @-webkit-keyframes arrowDown {
    0%,
    100% {
      -webkit-transform: rotate(40deg) scaleX(1);
      transform: rotate(40deg) scaleX(1);
    }
    20%,
    80% {
      -webkit-transform: rotate(0deg) scaleX(0.1);
      transform: rotate(0deg) scaleX(0.1);
    }
  }
  @keyframes arrowDown {
    0%,
    100% {
      -webkit-transform: rotate(40deg) scaleX(1);
      transform: rotate(40deg) scaleX(1);
    }
    20%,
    80% {
      -webkit-transform: rotate(0deg) scaleX(0.1);
      transform: rotate(0deg) scaleX(0.1);
    }
  } */


  
.slider {
  overflow: hidden;
  position: relative;
  height: 100vh;
  color: #fff;
}
.slider__top-heading {
  z-index: 12;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
}
.slider.s--ready .slider__top-heading {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.slider__slides {
  position: relative;
  height: 100%;
}
.slider__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.slider__slide.s--active {
  pointer-events: auto;
}
.slider__slide-content {
  z-index: 6;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
  text-transform: uppercase;
  line-height: 1;
}
.slider__slide-subheading {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 2px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-subheading {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.slider__slide-heading {
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
  font-size: 60px;
  letter-spacing: 12px;
}
.slider__slide-heading span {
  display: block;
  opacity: 0;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: all 0.3333333333s;
  transition: all 0.3333333333s;
}
.slider__slide.s--prev .slider__slide-heading span {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
.slider__slide.s--active .slider__slide-heading span {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.slider__slide-heading span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(1) {
  -webkit-transition-delay: 0.3333333333s;
          transition-delay: 0.3333333333s;
}
.slider__slide-heading span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(2) {
  -webkit-transition-delay: 0.4333333333s;
          transition-delay: 0.4333333333s;
}
.slider__slide-heading span:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(3) {
  -webkit-transition-delay: 0.5333333333s;
          transition-delay: 0.5333333333s;
}
.slider__slide-heading span:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(4) {
  -webkit-transition-delay: 0.6333333333s;
          transition-delay: 0.6333333333s;
}
.slider__slide-heading span:nth-child(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(5) {
  -webkit-transition-delay: 0.7333333333s;
          transition-delay: 0.7333333333s;
}
.slider__slide-heading span:nth-child(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(6) {
  -webkit-transition-delay: 0.8333333333s;
          transition-delay: 0.8333333333s;
}
.slider__slide-heading span:nth-child(n+7) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(n+7) {
  -webkit-transition-delay: 0.9333333333s;
          transition-delay: 0.9333333333s;
}
.slider__slide-readmore {
  position: relative;
  font-size: 14px;
  text-transform: lowercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-readmore {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.slider__slide-readmore:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 6px);
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scaleX(0.3);
          transform: scaleX(0.3);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.slider__slide-readmore:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.slider__slide-parts {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100%;
}
.slider__slide-parts:after {
  content: '';
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 5%);
}
.slider__slide-part {
  position: relative;
  width: 25%;
  height: 100%;
}
.slider__slide-part-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.slider__slide-part-inner:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: 0;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner {
  z-index: 3;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
  -webkit-transform: translateX(-32.5%);
          transform: translateX(-32.5%);
}
.slider__slide.s--active .slider__slide-part:nth-child(1) .slider__slide-part-inner {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  left: 0vw;
  -webkit-transition-delay: 0.365s;
          transition-delay: 0.365s;
}
.slider__slide.s--active .slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner {
  z-index: 2;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
}
.slider__slide.s--active .slider__slide-part:nth-child(2) .slider__slide-part-inner {
  -webkit-transition-delay: 0.36s;
          transition-delay: 0.36s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner:before {
  left: -25vw;
  -webkit-transition-delay: 0.285s;
          transition-delay: 0.285s;
}
.slider__slide.s--active .slider__slide-part:nth-child(2) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.36s;
          transition-delay: 0.36s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner {
  z-index: 1;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
  -webkit-transform: translateX(-97.5%);
          transform: translateX(-97.5%);
}
.slider__slide.s--active .slider__slide-part:nth-child(3) .slider__slide-part-inner {
  -webkit-transition-delay: 0.44s;
          transition-delay: 0.44s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner:before {
  left: -50vw;
  -webkit-transition-delay: 0.205s;
          transition-delay: 0.205s;
}
.slider__slide.s--active .slider__slide-part:nth-child(3) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.44s;
          transition-delay: 0.44s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner {
  z-index: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-130%);
          transform: translateX(-130%);
}
.slider__slide.s--active .slider__slide-part:nth-child(4) .slider__slide-part-inner {
  -webkit-transition-delay: 0.52s;
          transition-delay: 0.52s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
  left: -75vw;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}
.slider__slide.s--active .slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.52s;
          transition-delay: 0.52s;
}
.slider__slide.s--active .slider__slide-part-inner {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.slider__slide.s--active .slider__slide-part-inner:before {
  opacity: 1;
}
.slider__control {
  z-index: 100;
  position: absolute;
  left: 50px;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
  cursor: pointer;
}
.slider__control:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border: 2px solid #000;
  border-bottom: none;
  border-right: none;
  -webkit-transform: translateX(5px) rotate(-45deg);
          transform: translateX(5px) rotate(-45deg);
}
.slider__control--right {
  left: auto;
  right: 50px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.slider__control--right:before {
  -webkit-transform: translateX(-5px) rotate(135deg);
          transform: translateX(-5px) rotate(135deg);
}
.slider.s--ready .slider__control {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}